{% extends 'base.html.twig' %}

{% block body %}
    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <div style="text-align: center;">
            <h1 style="font-family: Arial, sans-serif; color: #333;">Bienvenue dans l'espace utilisateur</h1>
            
        </div>
    </div>
{% endblock %}
