{% extends 'base.html.twig' %}

{% block title %} Hotel Hilton Monastir{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex justify-content-between align-items-center">

      <h1 class="logo me-auto me-lg-0"><a href="index.html">Hotel Hilton Monastir</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="active" href="#">Accueil </a></li>
          <li><a href="{{ path('HOME')}}">Les Chambres</a></li>
          <li><a href="{{ path('HOMECLIENT')}}">Les Clients</a></li>
          <li><a href="#">Contact</a></li>
        </ul>

        
      </nav><!-- .navbar -->

      <div class="header-social-links">
        
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

    </div>
 
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Hotel Hilton Monastir</h1>
      <h2>Hilton Skanes Monastir Beach Resort</h2>
      <!-- <a href="about.html" class="btn-about">About Me</a> -->
    </div>
  </section><!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Hotel Hilton Monastir</span></strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- End  Footer -->

{% endblock %}
