{% extends 'base.html.twig' %}
{% block title %}Ajouter Chambre{% endblock %}
{% block body %}

<h2> Ajouter une Chambre </h2>
{{ form_start(f) }}
{{ form_widget(f) }}
{{ form_end (f)}}
{% endblock %}